<form action="/create" method="post">
  <h2>create</h2>

  <div class="input-field">
    <input type="text" name="title">
    <label>Todo title</label>
  </div>

  <button type="submit" name="submit"class="btn">Create</button>
</form>
